html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
}
body > div, header, main, footer {
  position: relative;
  z-index: 1;
}
.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-repeat: repeat;
  opacity: 1;
  transition: opacity 1.5s;
}
.background.tr {
  opacity: 0;
  transition: opacity 1.5s;
}
.emerald {
  background-image: url("../images/background/emerald.jpg");
}
.diamond {
  background-image: url("../images/background/diamond.jpg");
}
.gold {
  background-image: url("../images/background/gold.png");
}
.iron-ore {
  background-image: url("../images/background/iron-ore.jpg");
}
.acacia-wood {
  background-image: url("../images/background/acacia-wood.jpg");
}
.andesite {
  background-image: url("../images/background/andesite.jpg");
}

.bookshelf {
  background-image: url("../images/background/bookshelf.jpg");
}
.bricks {
  background-image: url("../images/background/bricks.jpg");
}
.cactus {
  background-image: url("../images/background/cactus.png");
}
.chest {
  background-image: url("../images/background/chest.png");
}
.coal-ore {
  background-image: url("../images/background/coal-ore.jpg");
}
.crafting-table {
  background-image: url("../images/background/crafting-table.jpg");
}
.diamond-ore {
  background-image: url("../images/background/diamond-ore.jpg");
}
.dispenser {
  background-image: url("../images/background/dispenser.jpg");
}
.furnace {
  background-image: url("../images/background/furnace.jpg");
}
.glowstone {
  background-image: url("../images/background/glowstone.jpg");
}
.gold-ore {
  background-image: url("../images/background/gold-ore.jpg");
}
.grass {
  background-image: url("../images/background/grass.jpg");
}
.hay {
  background-image: url("../images/background/hay.png");
}
.lazuli {
  background-image: url("../images/background/lazuli.png");
}
.melon {
  background-image: url("../images/background/melon.png");
}
.obsidian {
  background-image: url("../images/background/obsidian.png");
}
.quartz {
  background-image: url("../images/background/quartz.png");
}
.slime {
  background-image: url("../images/background/slime.png");
}
.soul-sand {
  background-image: url("../images/background/soul-sand.png");
}
.sponge {
  background-image: url("../images/background/sponge.png");
}
.lava {
  background-image: url("../images/background/lava.jpg");
}
.leaves {
  background-image: url("../images/background/leaves.jpg");
}
.magma {
  background-image: url("../images/background/magma.jpg");
}
.moss-stone {
  background-image: url("../images/background/moss-stone.jpg");
}
.mushroom {
  background-image: url("../images/background/mushroom.jpg");
}
.mycelium {
  background-image: url("../images/background/mycelium.jpg");
}
.nether-brick {
  background-image: url("../images/background/nether-brick.jpg");
}
.netherrack {
  background-image: url("../images/background/netherrack.jpg");
}
.note-block {
  background-image: url("../images/background/note-block.jpg");
}
.observer {
  background-image: url("../images/background/observer.jpg");
}
.piston {
  background-image: url("../images/background/piston.jpg");
}
.podzol {
  background-image: url("../images/background/podzol.jpg");
}
.prismarine {
  background-image: url("../images/background/prismarine.jpg");
}
.pumpkin {
  background-image: url("../images/background/pumpkin.jpg");
}
.purpur {
  background-image: url("../images/background/purpur.jpg");
}
.redstone {
  background-image: url("../images/background/redstone.jpg");
}
.redstone-lamp {
  background-image: url("../images/background/redstone-lamp.jpg");
}
.sand {
  background-image: url("../images/background/sand.jpg");
}
.sandstone {
  background-image: url("../images/background/sandstone.jpg");
}
.sea-lantern {
  background-image: url("../images/background/sea-lantern.jpg");
}
.tnt {
  background-image: url("../images/background/tnt.jpg");
}
.water {
  background-image: url("../images/background/water.jpg");
}
.stone {
  background-image: url("../images/background/stone.jpg");
}
.spruce-wood {
  background-image: url("../images/background/spruce-wood.jpg");
}
.bedrock {
  background-image: url("../images/background/bedrock.jpg");
}
.birch-wood {
  background-image: url("../images/background/birch-wood.jpg");
}
.bone {
  background-image: url("../images/background/bone.jpg");
}
.diorite {
  background-image: url("../images/background/diorite.jpg");
}
.end-stone {
  background-image: url("../images/background/end-stone.jpg");
}
.granite {
  background-image: url("../images/background/granite.jpg");
}

header {
  width: 1100px;
  height: 100px;
  margin: 0 auto 25px auto;
}
header #header_content {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0px;
  padding: 35px 0 0 0;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 10px white;
}

main {
  box-sizing: border-box;
  width: 1100px;
  min-height: 100%;
  margin: -125px auto -88px auto;
  padding: 125px 0 88px;
  z-index: 10;
}
main #content {
  padding: 20px 60px;
  z-index: 10;
  border-radius: 25px;
  background-color: rgba(256, 256, 256, 0.6);
}

footer {
}
footer > div {
  width: 1100px;
  padding: 25px 20px;
  margin: 0 auto;
  text-align: center;
}



.form-control {
  height: 64px;
}
input.form-control {
  height: 64px;
  margin-bottom: 1px;
}
.ui-select-bootstrap > .ui-select-choices {
    max-height: 500px;
}

.item {
  height: 50px;
  width: 500px;
  line-height: 50px;
  font-size: 23px;
}
.item::before {
  background-image: url("../images/all_items.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  content: "";
}

#results {
  margin-top: 25px;
  font-size: 24px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  background: white;
}
#results > li {
  overflow: hidden;
  border-bottom: 1px solid rgb(173, 173, 173);
}
#results > li:last-child {
  border-bottom: none;
}
#results > li > div {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid rgb(173, 173, 173);
}
#results > li > div:last-child {
  border-right: none;
}
#results > li > div.world {
  width: 250px;
}
#results > li > div.pos {
  width: 150px;
}
#results > li > div.price {
  width: 200px;
}