<!DOCTYPE html>
<html ng-app="app" ng-controller="GlobalPageCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MineTrades</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="keywords" content="Minecraft"/>
    <meta name="description" content=""/>

    <link href="css/reset.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="css/libs/select.css">
    <link rel="stylesheet" href="css/libs/bootstrap.css">

    <link href="css/style.css?v=1.0.0" rel="stylesheet" type="text/css"/>
    <link href="css/icons.css?v=1.0.0" rel="stylesheet" type="text/css"/>

    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/select.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        var version = "1.0.0";
    </script>
    <script src="js/configs.js?v=1.0.0"></script>
    <script src="js/application.js?v=1.0.0"></script>
    <script src="js/global.js?v=1.0.0"></script>
</head>
<body>
    <div class="background" ng-class="class1"></div>
    <div class="background" ng-class="class2"></div>
    <header>
        <h1>{{globalData.title}}</h1>
    </header>

    <main>
        <div id="content">
            <ui-select ng-model="selected.value" autofocus="true" on-select="onSelect($item)">
                <ui-select-match>
                    <div class="item {{$select.selected.class}}" ng-bind="$select.selected.name"></div>
                </ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                    <div class="item {{item.class}}" ng-bind="item.name"></div>
                </ui-select-choices>
            </ui-select>

            <h2 ng-show="has_trades">{{globalData.no_trades}}</h2>

            <h2 ng-show="search_results.world.length > 0">{{globalData.world}}</h2>
            <ul class="results" ng-show="search_results.world.length > 0">
                <li class="header">
                    <div class="seller">{{globalData.seller}}</div>
                    <div class="pos">{{globalData.pos}}</div>
                </li>
                <li ng-repeat="result in search_results.world">
                    <div class="seller">{{result.seller}}</div>
                    <div class="pos">
                        <a href="{{getMapLink(result, map.world)}}" ng-show="map.world.enable" target="_blank">
                            {{result.x}} | {{result.y}} | {{result.z}}
                        </a>
                        <span ng-show="!map.world.enable">{{result.x}} | {{result.y}} | {{result.z}}</span>
                    </div>
                </li>
            </ul>

            <h2 ng-show="search_results.world_nether.length > 0">{{globalData.hell}}</h2>
            <ul class="results" ng-show="search_results.world_nether.length > 0">
                <li class="header">
                    <div class="seller">{{globalData.seller}}</div>
                    <div class="pos">{{globalData.pos}}</div>
                </li>
                <li ng-repeat="result in search_results.world_nether">
                    <div class="seller">{{result.seller}}</div>
                    <div class="pos">
                        <a href="{{getMapLink(result, map.world_nether)}}" ng-show="map.world_nether.enable" target="_blank">
                            {{result.x}} | {{result.y}} | {{result.z}}
                        </a>
                        <span ng-show="!map.world_nether.enable">{{result.x}} | {{result.y}} | {{result.z}}</span>
                    </div>
                </li>
            </ul>

            <h2 ng-show="search_results.world_the_end.length > 0">{{globalData.end}}</h2>
            <ul class="results" ng-show="search_results.world_the_end.length > 0">
                <li class="header">
                    <div class="seller">{{globalData.seller}}</div>
                    <div class="pos">{{globalData.pos}}</div>
                </li>
                <li ng-repeat="result in search_results.world_the_end">
                    <div class="seller">{{result.seller}}</div>
                    <div class="pos">
                        <a href="{{getMapLink(result, map.world_the_end)}}" ng-show="map.world_the_end.enable" target="_blank">
                            {{result.x}} | {{result.y}} | {{result.z}}
                        </a>
                        <span ng-show="!map.world_the_end.enable">{{result.x}} | {{result.y}} | {{result.z}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <div>
            <p><a href="https://github.com/NightKosh/MineTrades" target="_blank" title="GitHub"><img src="images/github-26.png" alt="GitHub"/></a></p>
        </div>
    </footer>
</body>
</html>